ipykernel
# === Backend Core ===
fastapi
uvicorn
python-multipart
pydantic
sqlalchemy
passlib[argon2]
python-jose[cryptography]

# === Frontend ===
streamlit
requests
pandas
openpyxl

# === NLP / Sentiment Analysis ===
transformers
torch
scikit-learn
numpy
peft
stopwords 
wordnet 


# === Utilities ===
python-dotenv
aiofiles
pydantic[email]

requests
plotly
numpy
spacy
python-multipart
